<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.center.platform.dao.ISupervisionLogDao" >
  <resultMap id="BaseResultMap" type="com.center.platform.entity.SupervisionLog" >
    <id column="SUPERVISONID" property="supervisonid" jdbcType="VARCHAR" />
    <result column="PROID" property="proid" jdbcType="VARCHAR" />
    <result column="PRONAME" property="proname" jdbcType="VARCHAR" />
    <result column="IDENTIFIER" property="identifier" jdbcType="VARCHAR" />
    <result column="WEATHER" property="weather" jdbcType="VARCHAR" />
    <result column="TEMPERATURE" property="temperature" jdbcType="VARCHAR" />
    <result column="POWER" property="power" jdbcType="VARCHAR" />
    <result column="DIRECTION" property="direction" jdbcType="VARCHAR" />
    <result column="ENGINEER" property="engineer" jdbcType="VARCHAR" />
    <result column="CHIEFENGINEER" property="chiefengineer" jdbcType="VARCHAR" />
    <result column="PICTUREPATH" property="picturepath" jdbcType="VARCHAR" />
    <result column="CREATETIME" property="createtime" jdbcType="DATE" javaType="java.sql.Date"/>
  </resultMap>
  <sql id="Base_Column_List" >
     SUPERVISIONLOGID, PROID, PRONAME, CONSTRUCTNAME, IDENTIFIER, WEATHER, TEMPERATURE,
    POWER, DIRECTION, DAY,CREATETIME,ENGINEER,CHIEFENGINEER,PICTUREPATH
  </sql>
  <select id="find" resultMap="BaseResultMap" parameterType="SupervisionLog">
    select 
    <include refid="Base_Column_List" />
    from T_SUPERVISION_LOG
    where 1=1
    <if test="supervisionlogid!= null">
      and SUPERVISIONLOGID = #{supervisionlogid,jdbcType=VARCHAR}
    </if>
    <if test="proid!= null">
      and PROID = #{proid,jdbcType=VARCHAR}
    </if>
    <if test="null!=conditions">
      <foreach collection="conditions" item="condition" >
        and ${condition}
      </foreach>
    </if>
    ORDER BY createtime DESC
  </select>
  <delete id="delete" parameterType="java.lang.Object" >
    delete from T_SUPERVISION_LOG
    where SUPERVISIONLOGID = #{supervisionlogid,jdbcType=VARCHAR}
  </delete>

  <insert id="save" parameterType="SupervisionLog" >
    insert into T_SUPERVISION_LOG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="supervisionlogid != null" >
        SUPERVISIONLOGID,
      </if>
      <if test="proid != null" >
        PROID,
      </if>
      <if test="proname != null" >
        PRONAME,
      </if>
      <if test="constructname != null" >
        CONSTRUCTNAME,
      </if>
      <if test="identifier != null" >
        IDENTIFIER,
      </if>
      <if test="weather != null" >
        WEATHER,
      </if>
      <if test="temperature != null" >
        TEMPERATURE,
      </if>
      <if test="power != null" >
        POWER,
      </if>
      <if test="direction != null" >
        DIRECTION,
      </if>
      <if test="day != null" >
        DAY,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
      <if test="engineer != null" >
        ENGINEER,
      </if>
      <if test="chiefengineer != null" >
        CHIEFENGINEER,
      </if>
      <if test="picturepath != null" >
        PICTUREPATH
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="supervisionlogid != null" >
        #{supervisionlogid,jdbcType=VARCHAR},
      </if>
      <if test="proid != null" >
        #{proid,jdbcType=VARCHAR},
      </if>
      <if test="proname != null" >
        #{proname,jdbcType=VARCHAR},
      </if>
      <if test="constructname != null" >
        #{constructname,jdbcType=VARCHAR},
      </if>
      <if test="identifier != null" >
        #{identifier,jdbcType=VARCHAR},
      </if>
      <if test="weather != null" >
        #{weather,jdbcType=VARCHAR},
      </if>
      <if test="temperature != null" >
        #{temperature,jdbcType=VARCHAR},
      </if>
      <if test="power != null" >
        #{power,jdbcType=VARCHAR},
      </if>
      <if test="direction != null" >
        #{direction,jdbcType=VARCHAR},
      </if>
      <if test="day != null" >
        #{day,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=DATE},
      </if>
      <if test="engineer != null" >
        #{engineer,jdbcType=VARCHAR},
      </if>
      <if test="chiefengineer != null" >
        #{chiefengineer,jdbcType=VARCHAR},
      </if>
      <if test="picturepath != null" >
        #{picturepath,jdbcType=VARCHAR}
      </if>
    </trim>
  </insert>
</mapper>